In [67]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import datetime
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
524,tt0230600,17000000,209947037,The Others,Nicole Kidman|Christopher Eccleston|Alakina Ma...,Alejandro AmenÃ¡bar,"Sooner or later she'll see them, then everythi...",Grace is a religious woman who lives in an old...,101,Horror|Drama|Mystery|Thriller,Cruise/Wagner Productions|Canal Plus|Sogecine|...,8/2/2001,7.1,2001
1172,tt0290334,110000000,214948780,X2,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,The time has come for those who are different ...,Professor Charles Xavier and his team of genet...,133,Adventure|Action|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Donners...,4/24/2003,6.7,2003
17,tt0478970,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,Peyton Reed,Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,7.0,2015
945,tt0265349,32000000,55157539,The Mothman Prophecies,Richard Gere|Laura Linney|Will Patton|Bob Trac...,Mark Pellington,What do you see?,Reporter John Klein is plunged into a world of...,119,Drama|Mystery|Thriller|Horror,Lakeshore Entertainment,1/25/2002,5.9,2002
564,tt0242445,50000000,79958599,Exit Wounds,Steven Seagal|DMX|Isaiah Washington|Anthony An...,Andrzej Bartkowiak,This Is Gonna Hurt,Maverick cop Orin Boyd always brings down the ...,101,Action|Crime|Thriller,NPV Entertainment|Warner Bros.,3/13/2001,5.0,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

In [5]:

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']
data['genres'] = data['genres'].str.split('|')
data['cast'] = data['cast'].str.split('|')
data['director'] = data['director'].str.split('|')
data['production_companies'] = data['production_companies'].str.split('|')
data['release_date'] = pd.to_datetime(data['release_date'])
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1505,tt0466909,25000000,119188334,The Omen,"[Liev Schreiber, Julia Stiles, Seamus Davey-Fi...",[John Moore],A new generation of terror,A diplomatic couple adopts the son of the devi...,110,"[Drama, Horror, Thriller]","[Twentieth Century Fox Film Corporation, 11:11...",2006-06-06,5.2,2006,94188334
527,tt0240890,28000000,77516304,Serendipity,"[John Cusack, Kate Beckinsale, Jeremy Piven, B...",[Peter Chelsom],Sometimes True Love Can Have More Than One Face.,Although strangers Sara and Jonathan are both ...,90,"[Comedy, Romance]","[Miramax Films, Tapestry Films, Simon Fields P...",2001-10-05,6.6,2001,49516304
1681,tt0758758,15000000,56255142,Into the Wild,"[Emile Hirsch, Marcia Gay Harden, William Hurt...",[Sean Penn],Into the heart. Into the soul.,"The true story of top student and athlete, Chr...",148,"[Adventure, Drama]","[Paramount Vantage, River Road Entertainment, ...",2007-09-11,7.7,2007,41255142
1016,tt1673434,120000000,829000000,The Twilight Saga: Breaking Dawn - Part 2,"[Kristen Stewart, Robert Pattinson, Taylor Lau...",[Bill Condon],The epic finale that will live forever,"After the birth of Renesmee, the Cullens gathe...",115,"[Adventure, Fantasy, Drama, Romance]","[Summit Entertainment, Sunswept Entertainment,...",2012-11-13,6.1,2012,709000000
1713,tt0411061,30000000,16930884,88 Minutes,"[Al Pacino, Alicia Witt, Leelee Sobieski, Amy ...",[Jon Avnet],He has 88 minutes to solve a murder. His own.,"""88 Minutes"" focuses on a college professor (P...",108,"[Crime, Mystery, Thriller]","[TriStar Pictures, Nu Image Entertainment, Bri...",2007-02-14,5.6,2007,-13069116

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [10]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [12]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [13]:
data.runtime.mean()

109.6585494970884

In [14]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [15]:
data.runtime.median()

107.0

In [16]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847

In [18]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [19]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090

In [20]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
data[data.profit > 0].imdb_id.count()

1478

In [22]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
data[data.revenue == data[data.release_year == 2008].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825

In [24]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
data[data.profit == data[(data.release_year <= 2014) & (data.release_year >= 2012) ].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090

In [26]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = 'Drama'

In [33]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

cnt = collections.Counter()
for category in data['genres']:
    for genre in category:
        cnt[genre] += 1
cnt.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [34]:
cnt = collections.Counter()
data1 = data[data['profit'] > 0]
for category in data1['genres']:
    for genre in category:
            cnt[genre] += 1
cnt.most_common(1)

[('Drama', 560)]

In [35]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [36]:
data2 = data.explode('director')
data2.groupby('director')['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [37]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [38]:
data2 = data.explode('genres')
data2 = data2[data2['genres'] == 'Action']

cnt = collections.Counter()

for category in data2['director']:
    for name in category:
            cnt[name] += 1
cnt.most_common(1)

[('Robert Rodriguez', 9)]

Вариант 2

In [39]:
data2 = data.explode('genres')
data2 = data2[data2['genres'] == 'Action']
data2 = data2.explode('director')
collections.Counter(data2['director']).most_common(1)

[('Robert Rodriguez', 9)]

In [78]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [41]:
data2 = data[data['release_year'] == 2012]
data2 = data2.explode('cast')
data2.groupby('cast')['revenue'].sum().sort_values(ascending=False).keys()[0]

'Chris Hemsworth'

In [42]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
data2 = data[data['budget'] > data['budget'].mean()]
data2 = data2.explode('cast')
collections.Counter(data2['cast']).most_common(1)

[('Matt Damon', 18)]

In [44]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [45]:
data2 = data.explode('cast')
data2 = data2[data2['cast'] == 'Nicolas Cage']
data2 = data2.explode('genres')
collections.Counter(data2['genres']).most_common(1)

[('Action', 17)]

In [46]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
data2 = data.explode('production_companies')
data2 = data2[data2['production_companies'] == 'Paramount Pictures']
data2[data2['profit'] == data2['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [48]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).keys()[0]

2015

In [50]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
data2 = data.explode('production_companies')
data2 = data2[data2['production_companies'].str.contains('Warner')]
data2.groupby('release_year')['profit'].sum().sort_values(ascending=False).keys()[0]

2014

In [52]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
data2 = data
data2['month'] = pd.DatetimeIndex(data['release_date']).month
collections.Counter(data2['month']).most_common(1)

[(9, 227)]

In [54]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
data2 = data
# Находим время года, где 1 - зима, 2 - весна, 3 - лето, 4 - осень
data2['season'] = pd.DatetimeIndex(data['release_date'] + pd.offsets.MonthBegin(n=1)).quarter
data2 = data2[data2['season'] == 3]
data2['imdb_id'].count()

450

In [56]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
data2 = data
# Находим время года, где 1 - зима, 2 - весна, 3 - лето, 4 - осень
data2['season'] = pd.DatetimeIndex(data['release_date'] + pd.offsets.MonthBegin(n=1)).quarter
data2 = data2[data2['season'] == 1].explode('director')
collections.Counter(data2['director']).most_common(1)

[('Peter Jackson', 7)]

In [58]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [73]:
data2 = data.explode('production_companies')
# добавляем колонку с длинами названий
data2['title_len'] = data2['original_title'].apply(len)
data2.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).keys()[0]

'Four By Two Productions'

In [60]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
data2 = data.explode('production_companies')
# добавляем колонку с количеством слов в описании
data2['overview_len'] = data2['overview'].str.split().apply(len)
data2.groupby('production_companies')['overview_len'].mean().sort_values(ascending=False).keys()[0]

'Midnight Picture Show'

In [62]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
# сортируем данные
data2 = data.sort_values('vote_average', ascending=False)
# выбираем верхний 1% строк
data2['original_title'].iloc[: int(round(len(data2) / 100))]

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

In [64]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [75]:
# создаем dataset из столбца с актерами (для сокращения объема данных)
data2 = data['cast'].reset_index()
# добавляем столбец со списком пар актеров
data2['pairs'] = data2['cast'].apply(
    lambda s: list(itertools.combinations(s, 2)))
# расширяем dataset для каждой пары актеров
data2 = data2.explode('pairs').reset_index()
# считаем наиболее частые пары
collections.Counter(data2['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [69]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [79]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [80]:
# и убедиться что ни чего не пропустил)
len(answers)

27